<!-- Meteor parses all of the regular .HTML files in the app folder
        and identifies three top-level-tags: <head>, <body>, <template> -->
<!-- angular-meteor-package:
        parses all of the HTML-files in the app-folder and puts them in Angular's
        template cache with the id to their full path.-->
<head>
    <!-- everything here is added to 'head'-section of the HTML sent to the client -->
    <title>MeteorToDo</title>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        li.checked {
            text-decoration: line-through;
        }
    </style>
</head>

<body>
  <!-- everything inside <bod> tags is added to the 'body' section, just like a regular
   HTML file-->
  <div class="bg-secondary">
    <todos-list></todos-list>
  </div>
</body>

<!-- all of the code in the html-files is compiled with Angular
        It binds the data into the templates just like any other AngularApp.-->