<header class="jumbotron jumbotron-fluid bg-dark" style="margin-bottom: 0%">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md">
                    <h1 class="display-3 text-white"><strong>Quest</strong> Journal</h1>
                </div>
            </div>
            <div class="row">
                <div class="col text-danger text-right">
                   <h3>unfulfilled <strong>Quests</strong>:  {{$ctrl.incompleteCount}}</h3>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
</header>

<div class="container-fluid bg-light" style="padding-top: 20px">
    <div class="row">
        <div class="col-lg">
            <login-buttons class="btn btn-primary float-left"></login-buttons>
        </div>
        <div class="col-lg">
            <div class="form-check form-control-lg">
                <label class="form-check-label float-right">
                    <input type="checkbox" class="form-check-input-lg" ng-model="$ctrl.hideCompleted"/>
                    <span>Hide Completed <strong>Quests</strong></span>
                </label>
            </div>
        </div>
        <div class="col-lg">
            <!-- listening to submit-event on the form to call the addTask()-function of the controller -->
            <form class="float-right" ng-submit="$ctrl.addTask($ctrl.newTask)" ng-show="$ctrl.currentUser">
                <div class="form-group">
                    <input ng-model="$ctrl.newTask" type="text" name="text" placeholder="Type to add new quest"/>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container-fluid" style="padding:0">
    <ul class="list-group-flush" style="padding:0">
        <!-- ng-class binds the checked state of a task to a class
                if checked-property of a task is true, the checked class is added to our list item
        -->
        <li class="list-group-item container-fluid" ng-repeat="task in $ctrl.tasks" ng-class="{'list-group-item-success checked': task.checked, 'list-group-item-dark': !task.checked, 'private': task.private}">
                <div class="row">
                    <div class="col-1">
                        <input type="checkbox" ng-checked="task.checked" ng-click="$ctrl.setChecked(task)" class="form-check-input-lg text"/>
                    </div>
                    <div class="col">
                        <span class="text-primary font-weight-bolder">{{task.text}}</span>
                    </div>
                    <div class="col">
                            <div class="btn-group float-right">
                                <button type="button" class="btn btn-light" ng-click="$ctrl.setPrivate(task)"
                                        ng-show="task.owner === $ctrl.currentUser._id">
                                    {{(task.private == true) ? "Private" : "Public"}}
                                </button>
                                <button type="button" class="btn btn-danger text-dark" ng-click="$ctrl.removeTask(task)">
                                    &times;
                                </button>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                    <span>
                        added by: <strong>{{task.username}}</strong>
                    </span>
                    </div>
                </div>
        </li>
    </ul>
</div>


